backend/Python/utilities/env.py


datasets/personality-anaya.txt
datasets/personality-meade.txt
datasets/personality-lopez.txt
datasets/personality-replies-anaya.txt
datasets/personality-replies-meade.txt
datasets/personality-replies-lopez.txt
datasets/replies-anaya.txt
datasets/replies-meade.txt
datasets/replies-obrador.txt
datasets/tweets-anaya.txt
datasets/tweets-meade.txt
datasets/tweets-lopez.txt
datasets/*


backend/Python/downloadedVideos/*.mp4

frontend/public/assets/*

.env
tweets.txt
tweets_two.txt
tweetsMalformed.txt
env.py
*.xml
*.csv
.vscode
node_modules
.idea
__pycache__
Node/.idea
Node/.env
