# Database values
DB_NAME = # El nombre de una base de datos mongodb remota o local
DB_HOST = # El host de una base de datos mongodb remota o local
DB_USER = # El usuario de una base de datos mongodb remota o local (si se usa autenticacion)
DB_PASS = # La contrasenia de una base de datos mongodb remota o local
DB_PORT = # El puerto en el que corre de una base de datos mongodb remota o local

PORT = '8005' # El puerto en el que corre la aplicacion

url                 = "https://gateway.watsonplatform.net/discovery/api"
discoveryUsername   = # Username de la aplicacion de discovery watson
discoveryPassword   = # Password de la aplicacion de discovery watson
collectionId        = # Id de la coleccion de watson a utilizar
environmentId       = # Id del environemnt a utilizar

# Python Path en donde estan instaladas las dependencias
PYTHON_PATH = "/Users/ernesto/anaconda/envs/cognitivaProyFinal/bin/python3.5"
PYTHON_PATH_OLD = "/Users/ernesto/anaconda/envs/cognitivaProyFinal/bin/python3.5"
